backports.functools-lru-cache==1.5
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-Cors==3.0.7
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
nltk==3.4
numpy==1.16.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
singledispatch==3.4.0.3
six==1.12.0
Werkzeug==0.14.1
eventbrite==3.3.3
gensim==3.7.1
