backports.functools-lru-cache==1.5
boto==2.49.0
boto3==1.9.96
botocore==1.12.96
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cycler==0.10.0
docutils==0.14
eventbrite==3.3.3
Flask==1.0.2
Flask-Cors==3.0.7
futures==3.2.0
gensim==3.7.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
nltk==3.4
numpy==1.16.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
s3transfer==0.2.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.0
urllib3==1.24.1
Werkzeug==0.14.1
