.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.center {
    margin-left: 20%;
    margin-right: 20%;
}

.align-left{
    margin-left: 20%;
}

.align-right{
    margin-right:20%;
}